<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li> <a href="{% url 'adminhome' %}">Dashboard</a></li><!-- style="color: white;background-color: grey;"-->
        <li> <a href="{% url 'adminaddDoctor' %}">Agregar Doctor</a></li>
        <li> <a href="{% url 'adminviewDoctor' %}">Ver Doctores Registrados</a></li>
        <li> <a href="{% url 'adminaddReceptionist' %}">Agregar Receptionista</a></li>
        <li> <a href="{% url 'adminviewReceptionist' %}">Ver Receptionistas Registrados</a></li>
        <li> <a href="{% url 'adminviewAppointment' %}">Ver Citas Agendadas</a></li>
        <li> <a href="{% url 'adminlogout' %}">Logout</a></li>
    </ul>
</div>